@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', serif;
}

.ficon:hover {
  filter: sepia(37%) hue-rotate(132deg) brightness(50%) contrast(100%) grayscale(50%);
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 8s ease-in-out infinite;
}

@keyframes gradient-x {

  0%,
  100% {
    background-position: left center;
  }

  50% {
    background-position: right center;
  }
}